---
import FacebookIcon from './icons/Facebook.astro';
import InstagramIcon from './icons/Instagram.astro';
import TwitterIcon from './icons/X.astro';
import WhatsAppIcon from './icons/WhatsApp.astro';
import SocialMediaButton from './SocialMediaButton.astro';
import { siteConfig } from '@config/site';

interface Props {
  showFacebook?: boolean;
  showInstagram?: boolean;
  showTwitter?: boolean;
  showWhatsApp?: boolean;
  facebookUrl?: string;
  instagramUrl?: string;
  twitterUrl?: string;
  whatsAppUrl?: string;
  whatsAppNumber?: string;
  iconSize?: string;
  class?: string;
  direction?: 'horizontal' | 'vertical';
}

const {
  showFacebook = true,
  showInstagram = true,
  showTwitter = true,
  showWhatsApp = false,
  facebookUrl = siteConfig.social.facebook,
  instagramUrl = siteConfig.social.instagram,
  twitterUrl = siteConfig.social.twitter,
  whatsAppUrl = siteConfig.whatsappUrl,
  whatsAppNumber = siteConfig.whatsapp,
  iconSize = 'w-6 h-6',
  class: className = '',
  direction = 'horizontal',
} = Astro.props;

const finalWhatsAppUrl = whatsAppUrl || `https://wa.me/${whatsAppNumber}`;
const containerClass =
  direction === 'horizontal'
    ? `flex space-x-3 items-center ${className}`
    : `flex flex-col space-y-3 items-center ${className}`;
---

<div className={containerClass}>
  {
    showFacebook && (
      <SocialMediaButton network="Facebook" href={facebookUrl}>
        <FacebookIcon class={iconSize} />
      </SocialMediaButton>
    )
  }

  {
    showInstagram && (
      <SocialMediaButton network="Instagram" href={instagramUrl}>
        <InstagramIcon class={iconSize} />
      </SocialMediaButton>
    )
  }

  {
    showTwitter && (
      <SocialMediaButton network="X" href={twitterUrl}>
        <TwitterIcon class={iconSize} />
      </SocialMediaButton>
    )
  }

  {
    showWhatsApp && (
      <SocialMediaButton network="WhatsApp" href={finalWhatsAppUrl}>
        <WhatsAppIcon class={iconSize} />
      </SocialMediaButton>
    )
  }
</div>
